USE [EstudiantesDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/06/2025 02:14:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 22/06/2025 02:14:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Sexo] [nvarchar](max) NOT NULL,
	[CURP] [nvarchar](18) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Carrera] [nvarchar](max) NOT NULL,
	[EsBecado] [bit] NOT NULL,
	[Modalidad] [nvarchar](max) NOT NULL,
	[DescripcionPersonal] [nvarchar](max) NULL,
	[TieneMascotas] [bit] NOT NULL,
	[TipoMascotas] [nvarchar](max) NULL,
	[HorarioComida] [nvarchar](max) NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250620000822_Inicial', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250621085659_AgregarCampoEsBecado', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250621214506_AddOptionalFields', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([Id], [Nombres], [Apellidos], [FechaNacimiento], [Direccion], [Sexo], [CURP], [Telefono], [Email], [Carrera], [EsBecado], [Modalidad], [DescripcionPersonal], [TieneMascotas], [TipoMascotas], [HorarioComida]) VALUES (4, N'Diana Laura', N'Mendez Ruperto', CAST(N'2001-11-14T00:00:00.0000000' AS DateTime2), N'Calle Vázquez Gómez 803', N'Femenino', N'MERD011114MVZNPNA7', N'9241129375', N'dl.mendezruperto@gmail.com', N'Ingeniería en Sistemas', 0, N'Presencial', N'Atleta', 0, N'Gate', N'2 pm')
INSERT [dbo].[Estudiantes] ([Id], [Nombres], [Apellidos], [FechaNacimiento], [Direccion], [Sexo], [CURP], [Telefono], [Email], [Carrera], [EsBecado], [Modalidad], [DescripcionPersonal], [TieneMascotas], [TipoMascotas], [HorarioComida]) VALUES (23, N'Alicia', N'Ruperto', CAST(N'1980-03-06T00:00:00.0000000' AS DateTime2), N'Salsipuedes 20', N'Femenino', N'LOMA900101HDFNRR00', N'9242438822', N'ali@gmail.com', N'Derecho', 1, N'Ambos', N'Running', 1, N'Perro', N'3 pm')
INSERT [dbo].[Estudiantes] ([Id], [Nombres], [Apellidos], [FechaNacimiento], [Direccion], [Sexo], [CURP], [Telefono], [Email], [Carrera], [EsBecado], [Modalidad], [DescripcionPersonal], [TieneMascotas], [TipoMascotas], [HorarioComida]) VALUES (25, N'Dalia', N'Fuentes', CAST(N'2003-09-29T00:00:00.0000000' AS DateTime2), N'Veracruz 38', N'Femenino', N'FUCD290903MVZABC09', N'2711823141', N'krookodile28@gmail.com', N'Psicología', 0, N'Online', N'Padecimiento', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [DF_TieneMascotas]  DEFAULT ((0)) FOR [TieneMascotas]
GO
